DEXAGROUP/bin/Debug/netcoreapp2.2/appsettings.Development.json
DEXAGROUP/bin/Debug/netcoreapp2.2/appsettings.json
DEXAGROUP/bin/Debug/netcoreapp2.2/DEXAGROUP.deps.json
DEXAGROUP/bin/Debug/netcoreapp2.2/DEXAGROUP.dll
DEXAGROUP/bin/Debug/netcoreapp2.2/DEXAGROUP.pdb
DEXAGROUP/bin/Debug/netcoreapp2.2/DEXAGROUP.runtimeconfig.dev.json
DEXAGROUP/bin/Debug/netcoreapp2.2/DEXAGROUP.runtimeconfig.json
DEXAGROUP/bin/Debug/netcoreapp2.2/DEXAGROUP.Views.dll
DEXAGROUP/bin/Debug/netcoreapp2.2/DEXAGROUP.Views.pdb
DEXAGROUP/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
