DEXAGROUP/bin/Debug/netcoreapp2.2/appsettings.Development.json
DEXAGROUP/bin/Debug/netcoreapp2.2/appsettings.json
DEXAGROUP/bin/Debug/netcoreapp2.2/DEXAGROUP.deps.json
DEXAGROUP/bin/Debug/netcoreapp2.2/DEXAGROUP.dll
DEXAGROUP/bin/Debug/netcoreapp2.2/DEXAGROUP.pdb
DEXAGROUP/bin/Debug/netcoreapp2.2/DEXAGROUP.runtimeconfig.dev.json
DEXAGROUP/bin/Debug/netcoreapp2.2/DEXAGROUP.runtimeconfig.json
DEXAGROUP/bin/Debug/netcoreapp2.2/DEXAGROUP.Views.dll
DEXAGROUP/bin/Debug/netcoreapp2.2/DEXAGROUP.Views.pdb
DEXAGROUP/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
.vs/DEXAGROUP/config/applicationhost.config
.vs/DEXAGROUP/v16/.suo
.vs/DEXAGROUP/v16/Server/sqlite3/db.lock
.vs/DEXAGROUP/v16/Server/sqlite3/storage.ide
.vs/DEXAGROUP/v16/Server/sqlite3/storage.ide-shm
.vs/DEXAGROUP/v16/Server/sqlite3/storage.ide-wal
DEXAGROUP/obj/DEXAGROUP.csproj.nuget.cache
DEXAGROUP/obj/DEXAGROUP.csproj.nuget.dgspec.json
DEXAGROUP/obj/project.assets.json
DEXAGROUP/obj/Debug/netcoreapp2.2/DEXAGROUP.assets.cache
DEXAGROUP/obj/Debug/netcoreapp2.2/DEXAGROUP.csproj.FileListAbsolute.txt
DEXAGROUP/obj/Debug/netcoreapp2.2/DEXAGROUP.dll
DEXAGROUP/obj/Debug/netcoreapp2.2/DEXAGROUP.pdb
DEXAGROUP/obj/Debug/netcoreapp2.2/DEXAGROUP.Views.dll
DEXAGROUP/obj/Debug/netcoreapp2.2/DEXAGROUP.Views.pdb
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Account/Login.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Account/Register.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Account/ResetPassword.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Customer/Create.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Customer/Delete.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Customer/Edit.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Customer/Index.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Manage/ChangePassword.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Manage/Index.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Manage/ManageLogins.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Manage/SetPassword.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Outlet/Create.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Outlet/Delete.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Outlet/Details.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Outlet/Edit.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Outlet/Index.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Test/Create.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Test/Delete.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Test/Details.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Test/Edit.cshtml.g.cs
DEXAGROUP/obj/Debug/netcoreapp2.2/Razor/Views/Test/Index.cshtml.g.cs
