@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Dexa Group <a href="https://www.dexa-medica.com" target="_blank">visit the website</a>.
    </p>
</div>

