<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dexa</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/lib/global/css/bootstrap_limitless.min.css" rel="stylesheet" />
    <link href="~/lib/global/css/layout.min.css" rel="stylesheet" />
    @*<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />*@
    <link href="~/lib/global/css/components.min.css" rel="stylesheet" />
    <link href="~/lib/global/css/colors.min.css" rel="stylesheet" />
    <link href="~/lib/global/css/icons/icomoon/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- END Global stylesheets -->

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DEXA GROUP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="icon-home mr-1"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Outlet" asp-action="Index">
                                <i class="icon-location4 mr-1"></i> Outlet
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-stack2 mr-1"></i> Customer
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Customer" asp-action="Index" ><i class="icon-list2 mr-2"></i> Overview</a>
                                <a class="dropdown-item" asp-controller="Customer" asp-action="Create" ><i class="icon-stack-plus mr-2"></i> Create</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Dexa App
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/lib/global/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script src="~/lib/global/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/lib/global/js/plugins/loaders/blockui.min.js"></script>

    <script src="~/lib/global/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/lib/global/js/plugins/pickers/daterangepicker.js"></script>
    <script src="~/lib/global/js/plugins/pickers/anytime.min.js"></script>
    <script src="~/lib/global/js/plugins/pickers/pickadate/picker.js"></script>
    <script src="~/lib/global/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script src="~/lib/global/js/plugins/pickers/pickadate/picker.time.js"></script>

    <script src="~/lib/global/js/demo_pages/datatables_responsive.js"></script>
    <script src="~/lib/global/js/demo_pages/form_select2.js"></script>

    <script src="~/lib/global/js/demo_pages/picker_date.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
